# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
venv/
.env

# Data
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
*.csv
*.npy
*.pkl
*.npz
*.h5

# Experiments 
experiments/*
!experiments/.gitkeep
!experiments/**/.gitkeep
*.pt
*.pth

# IDE
.vscode/
.idea/
*.swp

# Jupyter
.ipynb_checkpoints/


# OS
.DS_Store
Thumbs.db

start.md
pytorch_tutorial.md
training_results

trening_cmae_rozpiska.md

!src/analysis/*.csv
!src/analysis/*.png
!src/analysis/*.eps

!experiments/**/cifar100/**/*_classes*/**/all_models_summary_*_classes.csv
